.projects-container {
  padding: 50px 20px;
  background-color: black;
  color: #e945ff; /* Neon Purple */
  text-align: center;
}

.projects-title {
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: #e945ff; /* Neon Purple */
}

.project-tile {
  background-color: #1c1c1c;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  text-align: center;
  color: #ffffff; /* White for text */
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.project-tile:hover {
  transform: scale(1.05);
}

.project-thumbnail {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 15px;
}

.project-link {
  color: #e945ff;
  text-decoration: none;
  font-weight: bold;
}

.project-link:hover {
  color: white;
}

/* Custom Arrows */
.custom-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem; /* Adjust size to make the arrows more prominent */
  color: #e945ff; /* Neon Purple */
  cursor: pointer;
  z-index: 2;
  background: none;
  border: none;
  padding: 10px;
}

.custom-arrow:hover {
  color: white;
}

.next-arrow {
  right: -50px; /* More space on the right */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.prev-arrow {
  left: -50px; /* More space on the left */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@media (max-width: 1024px) {
  .project-tile {
    width: 85%;
  }
  .next-arrow {
    right: -30px;
  }
  .prev-arrow {
    left: -30px;
  }
}

@media (max-width: 600px) {
  .project-tile {
    width: 80%;
  }
  .project-thumbnail {
    height: 150px;
  }
  .next-arrow, .prev-arrow {
    font-size: 2rem;
  }
}
