.projects-container {
  padding: 50px 20px;
  background-color: black;
  color: #e945ff; /* Neon Purple */
  text-align: center;
}

.projects-title {
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: #e945ff; /* Neon Purple */
}

.project-tile {
  background-color: #1c1c1c;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  color: #ffffff; /* White for text */
}

.project-thumbnail {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 15px;
}

.project-link {
  color: #e945ff;
  text-decoration: none;
  font-weight: bold;
}

.project-link:hover {
  color: white;
}

/* Swiper Custom Arrows */
.swiper-button-next,
.swiper-button-prev {
  color: #e945ff; /* Neon Purple for the arrow buttons */
  font-size: 3rem; /* Increase arrow size */
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: white; /* Change color to white on hover */
}

/* Custom Pagination Bullets */
.swiper-pagination-bullet {
  background: #e945ff;
}

.swiper-pagination-bullet-active {
  background: white;
}
